h1{
  color: red;
}
button{
  border-radius: 5px;
  &:hover{
    transform: scale(1.05);
  }
  &:active{
    transform: scale(.95);
  }
}
#toolbar{
  color: white;
  background-color: #565c56;
  padding: 10px;
  //border: 1px solid red;
  position: relative;
  height: 50px;
  #role{
    position: absolute;
    right: 10px;
  }
}
.page{
  padding: 50px 10px;
  background-color: #edcbcb;
  min-height: 100vh;
}
#adminChose, #userChose{
  height: 150px;
  width: 200px;
  background-color: #ccc6c6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
    &:hover{
      cursor: pointer;
      transform: scale(1.05);
    }
    &:active{
      transform: scale(.95);
    }
  span{
    font-size: 16px;
  }
}
#movieListPage{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  .oneMovie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
      &:hover{
        cursor: pointer;
        transform: scale(1.01);
      }
      &:active{
        transform: scale(.99);
      }
    img{
      object-fit: contain;
      max-height: 50%;
    }
    .movieFooter{
      position: relative;
      align-self: stretch;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      .removeMovie{
        position: absolute;
        right: 0;

      }
    }

  }
}
#addMoviePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  #addMovie {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    height: 350px;
    width: 300px;
    background-color: #c9c5c5;
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      input {
        width: 100%;
      }
    }
  }
}
#oneMoviePage{
  border: 1px solid black;
  display: flex;
  height: 90vh;
  .novieInfo{
    border: 1px solid black;
    flex: 1;
  }
  .reservation{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #screen{
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 100%;
    }
    .places{
      height: 100%;
      //display: flex;
      //flex-wrap: wrap;
      display: grid;
      //grid-template-columns: repeat(5, 1fr);
      //grid-template-rows: repeat(4,1fr);



      border: 1px solid black;
      .oneSeat{
        background-image: url("./img/chair1.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        //width: 35px;
        //height: 50px;
        overflow: hidden;
        font-size: 12px;
        font-weight: bold;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover{
          cursor: pointer;
          transform: scale(1.05);
        }
        &:active{
          transform: scale(.95);
        }
        img{
          object-fit: contain;
          height: 100%;
        }
      }
    }
    button{

    }
  }

}