h1 {
  color: red;
}

button {
  border-radius: 5px;
}
button:hover {
  transform: scale(1.05);
}
button:active {
  transform: scale(0.95);
}

#toolbar {
  color: white;
  background-color: #565c56;
  padding: 10px;
  position: relative;
  height: 50px;
}
#toolbar #role {
  position: absolute;
  right: 10px;
}

.page {
  padding: 50px 10px;
  background-color: #edcbcb;
  min-height: 100vh;
}

#loginPage {
  background-image: url("../css/img/1.png");
  background-size: cover;
}

#adminChose, #userChose {
  height: 150px;
  width: 200px;
  background-color: #ccc6c6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#adminChose:hover, #userChose:hover {
  cursor: pointer;
  transform: scale(1.05);
}
#adminChose:active, #userChose:active {
  transform: scale(0.95);
}
#adminChose span, #userChose span {
  font-size: 16px;
}

#movieListPage {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
#movieListPage .oneMovie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#movieListPage .oneMovie:hover {
  cursor: pointer;
  transform: scale(1.01);
}
#movieListPage .oneMovie:active {
  transform: scale(0.99);
}
#movieListPage .oneMovie img {
  object-fit: contain;
  max-height: 50%;
}
#movieListPage .oneMovie .movieFooter {
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
#movieListPage .oneMovie .movieFooter .removeMovie {
  position: absolute;
  right: 0;
}

#addMoviePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#addMoviePage #addMovie {
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  height: 350px;
  width: 300px;
  background-color: #c9c5c5;
}
#addMoviePage #addMovie form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
#addMoviePage #addMovie form input {
  width: 100%;
}

#oneMoviePage {
  display: flex;
  height: 90vh;
  gap: 20px;
}
#oneMoviePage .novieInfo {
  flex: 1;
}
#oneMoviePage .reservation {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#oneMoviePage .reservation #screen {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  width: 100%;
}
#oneMoviePage .reservation .places {
  height: 100%;
  display: grid;
}
#oneMoviePage .reservation .places .oneSeat {
  background-image: url("./img/chair1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#oneMoviePage .reservation .places .oneSeat:hover {
  cursor: pointer;
  transform: scale(1.05);
}
#oneMoviePage .reservation .places .oneSeat:active {
  transform: scale(0.95);
}
#oneMoviePage .reservation .places .oneSeat img {
  object-fit: contain;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
